[Unit]
Description=Llama-swap Service
After=network.target
After=prepare-llama.service
Requires=prepare-llama.service

[Service]
EnvironmentFile=/etc/environment
#Environment=HSA_OVERRIDE_GFX_VERSION=10.3.0

ExecStart=/root/data/llama-swap-launcher
RestartSec=2s

Restart=always
User=root

[Install]
WantedBy=multi-user.target