[Unit]
Description=Llama-swap Service
After=network.target
After=prepare-llama.service
Requires=prepare-llama.service

[Service]
Environment=LLAMA_CACHE=/root/data/models
#Environment=HSA_OVERRIDE_GFX_VERSION=10.3.0
Environment=ROCR_VISIBLE_DEVICES=0

ExecStart=/root/data/llama-swap-launcher
RestartSec=2s

Restart=always
User=root

[Install]
WantedBy=multi-user.target